@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {

    padding: 0;
    box-sizing: border-box;
}
:root{
    --fuente-principal: "Inter", sans-serif;
}
h1 {
    color: white;
    font-family: var(--fuente-principal);
}
body {
    height: auto;
    margin: 1vh;
    padding: 0;
    box-sizing: border-box;
}
#bg__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: flex-start;
    padding: 20px;
    height: 100vh;
    text-align: center;
    font-family: var(--fuente-principal);
   
}


.input__area {
    width: 55%;
    
}

textarea {
    background-color: rgba(211, 211, 211, 0.7);
    backdrop-filter: blur(5px);
    font-family: var(--fuente-principal);
   
}

textarea:focus {
    outline: none;
    border: 1px solid #888;
    font-family: var(--fuente-principal);
    
}

label {
    font-weight: bold;
    width: 80%;
    color: white;
    font-family: var(--fuente-principal);
}

input {
    background-color: transparent;
    border: none;
}
input::placeholder {
    color: transparent;
}
textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.resultado__area {
    width: 25%;
    background-color: rgba(211, 211, 211, 0.7);
    backdrop-filter: blur(5px);
    padding: 20px;
    border: 2px solid #6c757d;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    font-family: var(--fuente-principal);
}

.oculto {
    display: none;
}

img {
    max-width: 100%;
   
    padding: 1%;
    text-align: center;
    height: 60%;
    display: block;
    margin-left: 0 auto;
    width: 90%;
    max-width: 100%;
    margin-left: 17px;
}
.resultado__area h2 {
    margin-top: 0;
}

.texto__temporal {
    
    font-family: var(--fuente-principal);
}

.requerimiento {
    color: #888;
}

.boton__encriptar__desencriptar {
    
    justify-content: center;
    align-items: center;
    font-family: var(--fuente-principal);
}

button {
    flex-direction: column;
    width: 40%;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    font-family: var(--fuente-principal);
}



.boton__encriptar {
    background-color: rgba(3, 3, 169, 0.759);
    font-family: var(--fuente-principal);
    width: 130px;
}
.boton__desencriptar {
    background-color: #d8dfe8ae;
    width: 130px;
    font-family: var(--fuente-principal);
}    

.boton__copiar {
    display: none; 
    position: absolute; 
    bottom: 10px; 
    left: 100%; 
    transform: translateX(-140%); 
    padding: 10px 20px; 
    background-color: gray; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 150px;
    align-items: center;
    font-family: var(--fuente-principal);
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
    font-family: var(--fuente-principal);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    
}

@media (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
    }

    .input__area,
    .resultado__area {
        width: 100%;
    }

    textarea,
    .resultado__area {
        font-size: 12px;
    }

    img {
        width: 100%;
    }

    .boton__encriptar,
    .boton__desencriptar {
        display: flex;
        align-items: center;
        width: 60%;
        margin: 5px 0;
        text-align: center;
        transform: translateX(40%);
    }

    .boton__copiar {
        display: block;
        position: static;
        transform: none;
        width: 100%;
        margin-top: 10px;
    }

    footer {
        font-size: 12px;
    }
    
}